@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Raleway:wght@700;@800");

.category-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    color: #333333;
    padding: 40px 0 0 40px;
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.search-title {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    color: #333333;
    padding: 40px 0 0 0;
}

.search-bar-div {
    padding: 10px 0 0 0;
}

.search-bar {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    background: #FFFFFF;
    border: 1px solid #F7A833;
    width: 90%;
    height: 3rem;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 1rem;
}

.search-results-div {
    padding: 20px 0 0 0;
}