.recipe-thumbnail-results-container {
  padding: 10px 10px 10px 40px;
  display: inline-block;
  flex-direction: column;
  align-items: center;
}

.align-center {
  text-align: center;
}

.no-bottom-margin {
  margin-bottom: 0;
  padding-bottom: 0;
}

.home-page-container {
  display: flex;
}

.recipes-section {
  min-width: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

@media only screen and (max-width: 919px) {
  .home-page-container {
    flex-direction: column;
  }
}
